# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

# YAML and YML files
[*.{yaml,yml}]
indent_size = 2
indent_style = space

# C# template files
[*.cs.tmpl]
indent_size = 4
indent_style = space

# JavaScript template files
[*.js.tmpl]
indent_size = 2
indent_style = space

# TypeScript template files
[*.ts.tmpl]
indent_size = 2
indent_style = space

# Go files
[*.go]
indent_size = 4
indent_style = tab
