/bin/**
/bins/**
/packages/**
/packing/**
/binaries/**
/data/**
/dist/**
/tmp/**
/temp/**
/drafts/**
/build/**
/config/**
/workspace**/**
/src/vendor/**
/.venv/**
/node_modules/**
/.VSCodeCounter/**
pars*.db

*.exe
*.exe~
*.dll
*.so
*.dylib


*.out

go.work



*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

samples/**
