
if(${DEB_PACK_TYPE} STREQUAL "binary")
    file(WRITE ${CONFIG_FILE_PATH} "#!/usr/bin/make -f\n\n%:\n\tdh $@\n\n")
    file(APPEND ${CONFIG_FILE_PATH} "override_dh_dwz:\n\ttrue\n")
else()
    file(WRITE ${CONFIG_FILE_PATH} "#!/usr/bin/make -f\n\n%:\n")
    file(APPEND ${CONFIG_FILE_PATH} "\tif [ -z \"\$(filter \$(MY_TARGETS), \$@)\" ]; then \\\n")
    file(APPEND ${CONFIG_FILE_PATH} "\t\tdh \$@; \\\n")
    file(APPEND ${CONFIG_FILE_PATH} "\telse \\\n")
    file(APPEND ${CONFIG_FILE_PATH} "\t\t\$(MAKE) \$@; \\\n")
    file(APPEND ${CONFIG_FILE_PATH} "\tfi\n\n")
    file(APPEND ${CONFIG_FILE_PATH} "override_dh_dwz:\n\ttrue\n")
    file(APPEND ${CONFIG_FILE_PATH} "override_dh_auto_build:\n")
    file(APPEND ${CONFIG_FILE_PATH} "\t\$(MAKE) build.binary.linux.vendor TAG=${APP_TAG}\n")
    file(APPEND ${CONFIG_FILE_PATH} "\tmkdir -p ${LINUX_APP_BINARY_DIR}\n")
    file(APPEND ${CONFIG_FILE_PATH} "\tcp -r ${BIN_ROOT_DIR}/${APP_NAME} ${DEB_CONF_DIR}/${LINUX_APP_BINARY_DIR}\n")
endif()
