file(WRITE ${CONFIG_FILE_PATH} "<?xml version='1.0'?>\n")
file(APPEND ${CONFIG_FILE_PATH} "<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>\n")
file(APPEND ${CONFIG_FILE_PATH} "    <Package Name='${APP_NAME}' Language='1033' Version='${APP_TAG}' Manufacturer='${PROJECT_ORGANIZATION}' UpgradeCode='6d171ec4-2a37-5a83-b686-7f2df79cc931' InstallerVersion='500'>\n")
file(APPEND ${CONFIG_FILE_PATH} "        <MajorUpgrade DowngradeErrorMessage='A newer version of ${APP_NAME} is already installed.' />\n")
file(APPEND ${CONFIG_FILE_PATH} "        <Feature Id='ProductFeature' Title='MsiPackage'>\n")
file(APPEND ${CONFIG_FILE_PATH} "            <ComponentGroupRef Id='ProductComponents' />\n")
file(APPEND ${CONFIG_FILE_PATH} "        </Feature>\n")
file(APPEND ${CONFIG_FILE_PATH} "        <ComponentGroup Id='ProductComponents' Directory='INSTALLFOLDER'>\n")
file(APPEND ${CONFIG_FILE_PATH} "            <Component>\n")
file(APPEND ${CONFIG_FILE_PATH} "                <File Source='${APP_NAME}${EXT}' />\n")
file(APPEND ${CONFIG_FILE_PATH} "            </Component>\n")
file(APPEND ${CONFIG_FILE_PATH} "            <Component Id='EnvVars' Guid='10bede1b-8042-5b7f-ab13-9b714da6f27d'>\n")
file(APPEND ${CONFIG_FILE_PATH} "                <CreateFolder />\n")
file(APPEND ${CONFIG_FILE_PATH} "                <Environment Id='PathEnvVar' Action='set' System='yes' Name='PATH' Part='last' Value='[INSTALLFOLDER]' />\n")
file(APPEND ${CONFIG_FILE_PATH} "            </Component>\n")
file(APPEND ${CONFIG_FILE_PATH} "        </ComponentGroup>\n")
file(APPEND ${CONFIG_FILE_PATH} "    </Package>\n")
file(APPEND ${CONFIG_FILE_PATH} "    <Fragment>\n")
file(APPEND ${CONFIG_FILE_PATH} "        <StandardDirectory Id='ProgramFiles64Folder'>\n")
file(APPEND ${CONFIG_FILE_PATH} "            <Directory Id='APPFOLDER' Name='${APP_NAME}'>\n")
file(APPEND ${CONFIG_FILE_PATH} "                <Directory Id='INSTALLFOLDER' Name='bin' />\n")
file(APPEND ${CONFIG_FILE_PATH} "            </Directory>\n")
file(APPEND ${CONFIG_FILE_PATH} "        </StandardDirectory>\n")
file(APPEND ${CONFIG_FILE_PATH} "        <StandardDirectory Id='AppDataFolder'>\n")
file(APPEND ${CONFIG_FILE_PATH} "            <Directory Id='DATAFOLDER' Name='${APP_NAME}'>\n")
file(APPEND ${CONFIG_FILE_PATH} "                <Directory Id='DATABASEFOLDER' Name='data' />\n")
file(APPEND ${CONFIG_FILE_PATH} "                <Directory Id='LOGFOLDER' Name='logs' />\n")
file(APPEND ${CONFIG_FILE_PATH} "                <Directory Id='CONFIGFOLDER' Name='config' />\n")
file(APPEND ${CONFIG_FILE_PATH} "                <Directory Id='CACHEFOLDER' Name='cache' />\n")
file(APPEND ${CONFIG_FILE_PATH} "            </Directory>\n")
file(APPEND ${CONFIG_FILE_PATH} "        </StandardDirectory>\n")
file(APPEND ${CONFIG_FILE_PATH} "    </Fragment>\n")
file(APPEND ${CONFIG_FILE_PATH} "</Wix>\n")
